<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/chats">
        <label for="from">From:</label>
        <input type="text" name="from" placeholder="Enter sender name" id="from">
         <br><br>
        <label for="mess">Message :</label>
        <textarea name="message" id="mess" rows="5" cols="10" placeholder="Enter your message"></textarea>
         <br><br>
        <label for="to">To:</label>
        <input type="text" name="to" placeholder="Enter receiver name" id="to">
        <br>
        <button>Add</button>
    </form>
</body>
</html>